  {{#each episodes}}
  <table class="table
                table-hover
                transdown-output">
    <thead>
      <tr>
        <th class="episode-title" colspan="{{numberOfColumns}}">{{title}}</th>
      </tr>
      <tr>
        {{#each columns}}
          <th>{{this}}</th>
        {{/each}}
      </tr>
    </thead>

    <tbody>
        {{#turns}}
          <tr>
            <td class="time">{{timestamp}}</td>
            <td class="speaker-name">{{speakerName}}</td>
            <td class="speech">{{speech}}</td>
            <td>
              <img src="{{accompanyingMedia}}"
                     class="accompanying-media"></td>
          </tr>
        {{/turns}}
    </tbody>
  </table>
  {{/each}}

